In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import GradientBoostingClassifier
#from xgboost import XGBClassifier
#xgb=XGBClassifier()
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import cross_val_score

In [6]:
df= pd.read_csv('cleaned_data.csv')

In [7]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,0000afa6-8902-4f8f-b870-25a8fdad0aeb,e49c1a82-a0f7-45e8-9f46-2f75c43f9fbc,0,10.111071,Long Term,6.499787,6.0,Rent,10.804177,Business Loan,6.297643,17.6,7,0,9.555631,9.738318,0.0,0.0
1,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,0,9.796542,Short Term,6.553933,0.5,Own Home,10.879436,Debt Consolidation,6.393883,9.9,7,0,8.827321,10.034011,0.0,0.0
2,00035328-2636-4390-8322-5841de482d2b,28eb75ac-6a09-4057-b73f-726c72ebf933,0,9.359191,Short Term,6.593045,6.0,HaveMortgage,10.472091,Debt Consolidation,6.497016,15.0,12,0,9.746424,9.940012,0.0,0.0
3,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,0,9.736842,Long Term,6.599870,3.0,HaveMortgage,10.604330,Debt Consolidation,6.615663,14.9,10,0,10.258150,11.523974,0.0,0.0
4,0006572c-9567-484d-b49b-bfe06536aa96,c1a7ba66-9f36-4f5c-86cd-1aa7ad68b954,0,9.597506,Short Term,6.608001,3.0,HaveMortgage,11.166074,Debt Consolidation,6.989252,18.0,12,0,10.677662,12.327901,0.0,0.0

In [8]:
df.shape

(215700, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215700 entries, 0 to 215699
Data columns (total 18 columns):
Loan ID                      215700 non-null object
Customer ID                  215700 non-null object
Loan Status                  215700 non-null int64
Current Loan Amount          215700 non-null float64
Term                         215700 non-null object
Credit Score                 215700 non-null float64
Years in current job         215700 non-null float64
Home Ownership               215700 non-null object
Annual Income                215700 non-null float64
Purpose                      215700 non-null object
Monthly Debt                 215700 non-null float64
Years of Credit History      215700 non-null float64
Number of Open Accounts      215700 non-null int64
Number of Credit Problems    215700 non-null int64
Current Credit Balance       215700 non-null float64
Maximum Open Credit          215700 non-null float64
Bankruptcies                 215700 non-null float64
Tax Liens                    215700 non-null float64
dtypes: float64(10), int64(3), object(5)
memory usage: 29.6+ MB

In [10]:
cleaned_df=df.drop(['Customer ID','Loan ID'],axis=1)

In [11]:
cleaned_df=pd.get_dummies(cleaned_df,drop_first=True)

In [12]:
cleaned_df.head()

,Loan Status,Current Loan Amount,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,0,10.111071,6.499787,6.0,10.804177,6.297643,17.6,7,0,9.555631,...,0,1,0,0,0,0,0,0,0,0
1,0,9.796542,6.553933,0.5,10.879436,6.393883,9.9,7,0,8.827321,...,1,0,0,0,1,0,0,0,0,0
2,0,9.359191,6.593045,6.0,10.472091,6.497016,15.0,12,0,9.746424,...,0,0,0,0,1,0,0,0,0,0
3,0,9.736842,6.599870,3.0,10.604330,6.615663,14.9,10,0,10.258150,...,0,0,0,0,1,0,0,0,0,0
4,0,9.597506,6.608001,3.0,11.166074,6.989252,18.0,12,0,10.677662,...,0,0,0,0,1,0,0,0,0,0

In [13]:
abs(cleaned_df.corr()['Loan Status']).sort_values(ascending=False)

Loan Status                     1.000000
Credit Score                    0.279202
Term_Short Term                 0.158569
Annual Income                   0.089923
Current Loan Amount             0.056667
Home Ownership_Rent             0.052967
Maximum Open Credit             0.036548
Years of Credit History         0.030149
Monthly Debt                    0.022762
Purpose_Buy a Car               0.019681
Purpose_Home Improvements       0.018178
Number of Open Accounts         0.017602
Current Credit Balance          0.011671
Tax Liens                       0.010739
Number of Credit Problems       0.009090
Home Ownership_Own Home         0.006862
Years in current job            0.005807
Purpose_Medical Bills           0.004362
Purpose_Other                   0.003693
Purpose_Buy House               0.002251
Purpose_Debt Consolidation      0.001182
Purpose_Educational Expenses    0.000450
Purpose_Take a Trip             0.000357
Bankruptcies                    0.000100
Name: Loan Status, dtype: float64

In [14]:
X=cleaned_df.drop('Loan Status',axis=1)

In [15]:
X.shape

(215700, 23)

In [16]:
y=cleaned_df['Loan Status']

feature selection

In [17]:
from sklearn.feature_selection import SelectFromModel

In [18]:
m=SelectFromModel(RandomForestClassifier(n_estimators=100,random_state=42),threshold='median')

In [19]:
m.fit(X,y)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
        max_features=None, norm_order=1, prefit=False, threshold='median')

In [20]:
X_selected=m.transform(X)

In [21]:
type(X_selected)

numpy.ndarray

In [22]:
X_selected=pd.DataFrame(X_selected)

In [23]:
X_selected.shape

(215700, 12)

In [24]:
X_selected.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,10.111071,6.499787,6.0,10.804177,6.297643,17.6,7.0,0.0,9.555631,9.738318,0.0,1.0
1,9.796542,6.553933,0.5,10.879436,6.393883,9.9,7.0,0.0,8.827321,10.034011,1.0,0.0
2,9.359191,6.593045,6.0,10.472091,6.497016,15.0,12.0,0.0,9.746424,9.940012,1.0,0.0
3,9.736842,6.599870,3.0,10.604330,6.615663,14.9,10.0,0.0,10.258150,11.523974,0.0,0.0
4,9.597506,6.608001,3.0,11.166074,6.989252,18.0,12.0,0.0,10.677662,12.327901,1.0,0.0

In [25]:
x_train,x_test,y_train,y_test=train_test_split(X_selected,y,test_size=0.2)

In [26]:
r = [1,2]
r.append(3)
r

[1, 2, 3]

In [27]:
np.mean(r)

2.0

In [30]:
type(y)

pandas.core.series.Series

In [28]:
from sklearn.model_selection import StratifiedKFold

In [29]:
i=1
kf = StratifiedKFold(n_splits=5,random_state=1,shuffle=True) 
accuracy = []
for train_index,test_index in kf.split(X_selected,y):     
    print('\n{} of kfold {}'.format(i,kf.n_splits))     
    xtr,xvl = X_selected.loc[train_index],X_selected.loc[test_index]     
    ytr,yvl = y[train_index],y[test_index]         
    model = LogisticRegression(random_state=1)     
    model.fit(xtr, ytr)     
    pred_test = model.predict(xvl)     
    score = accuracy_score(yvl,pred_test)
    accuracy.append(score)
    print('accuracy_score',score)     
    i+=1 
print(np.mean(accuracy))

1 of kfold 5

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy_score 0.8172735912473054

2 of kfold 5

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy_score 0.8170143718127029

3 of kfold 5

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy_score 0.8175011590171535

4 of kfold 5

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy_score 0.8167130273528048

5 of kfold 5

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

accuracy_score 0.8182387167064605
0.8173481732272855

In [44]:
log=LogisticRegression()
k=KNeighborsClassifier()
g=GaussianNB()
b=BernoulliNB()
gbc =GradientBoostingClassifier()
rgr = RandomForestRegressor(n_estimators=100)
svc = SVC()
rfc = RandomForestClassifier(n_estimators=10)
algorithms=[g,b,k,log,gbc,rgr]
names=['GaussianNB','BernoulliNB','KNeighborsClassifier','Logistic','GradientBoost','RandomForest']

In [45]:
def cross_validation_fit_predict(X,y,algorithms = algorithms, names = names):
    # fit the data
    # print metrics
    Accuracy = []
    F1 = []
    for i in range(len(algorithms)):
        j=1
        kf = StratifiedKFold(n_splits=5,random_state=1,shuffle=True) 
        accuracy = []
        f1 = [] 
        for train_index,test_index in kf.split(X_selected,y):
            '\n{} of kfold {}'.format(j,kf.n_splits)
            xtr,xvl = X_selected.loc[train_index],X_selected.loc[test_index]     
            ytr,yvl = y[train_index],y[test_index]         
            algorithms[i] = algorithms[i].fit(xtr, ytr)  
            pred_test = algorithms[i].predict(xvl)     
            score = accuracy_score(yvl,pred_test.round())
            f1_val = f1_score(yvl,pred_test.round())
            accuracy.append(score)
            f1.append(f1_val)
            j+=1
        mean_score = np.mean(accuracy)
        mean_f1 = np.mean(f1)
        Accuracy.append(mean_score)
        F1.append(mean_f1)
            
    metrics = pd.DataFrame(columns = ['Accuracy', 'F1'], index = names)
    metrics['F1'] = F1
    metrics['Accuracy'] = Accuracy
    return metrics.sort_values('Accuracy', ascending = False)

In [46]:
cross_validation_fit_predict(X,y,algorithms = algorithms, names = names)

                      Accuracy        F1
GradientBoost         0.824047  0.900695
RandomForest          0.817714  0.895339
Logistic              0.817348  0.899089
BernoulliNB           0.816829  0.899181
GaussianNB            0.800255  0.883422
KNeighborsClassifier  0.793523  0.882928